DEEPGRAM_STT_API_KEY=9985de032261b959755743d15211b791ecbab4da
DEEPGRAM_TTS_API_KEY=65e8ac3bbe51b23509e5eac70defc9d001fc26e5

LLM_GRPC_HOST=localhost
LLM_GRPC_PORT=9090

DEEPGRAM_STT_MODEL=flux-general-en
DEEPGRAM_STT_ENCODING=linear16
DEEPGRAM_STT_SAMPLE_RATE=16000
DEEPGRAM_STT_EOT_THRESHOLD=0.9
DEEPGRAM_STT_EOT_TIMEOUT_MS=5000

DEEPGRAM_TTS_MODEL=aura-2-asteria-en
DEEPGRAM_TTS_ENCODING=linear16
DEEPGRAM_TTS_SAMPLE_RATE=24000
